<% layout('layouts/boilerplate') %>

<!DOCTYPE html>
<html>
	<title>W3.CSS Template</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
	<link
		rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Raleway"
	/>
	<style>
		body,
		h1,
		h2,
		h3,
		h4,
		h5 {
			font-family: "Raleway", sans-serif;
		}
	</style>
	<body class="w3-light-grey">
		<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
		<div class="w3-content" style="max-width: 1400px">
			<!-- Header -->
			<header class="w3-container w3-center w3-padding-32">
				<h1><b>Blockchain for Oregon Wineries</b></h1>
				<p>Welcome to our project!</p>
			</header>

			<!-- Grid -->
			<div class="w3-row">
				<!-- about entries -->
				<div class="w3-col l8 s12">
					<!-- about entry -->
					<div class="w3-card-4 w3-margin w3-white">
						<img
							src="https://wallpaperaccess.com/full/468014.jpg"
							alt="Nature"
							style="width: 100%"
						/>
						<div class="w3-container">
							<h3><b>ABOUT THE PROJECT</b></h3>
							<h5>
								Project duration,
								<span class="w3-opacity">Sep 23, 2020 - June 4, 2021</span>
							</h5>
						</div>

						<div class="w3-container">
							<p>
								To provide an overview of our project, we are using blockchain
								technology to create a distributed ledger for tracking Oregon
								wines in an attempt to reduce wine fraud. The security provided
								by a distributed ledger will allow us to create authentic chains
								of custody for each bottle of wine. Our goal is to create a
								system that collects information from different wineries and
								stores that information in the ledger. Users will interface with
								this distributed ledger by scanning a QR code that we have
								created on their bottle. We believe that our work will help
								facilitate interaction between the wineries and their customers
								by creating a secure and trustworthy system that both parties
								can rely on to ensure the greatest wine buying experience.
							</p>
							<div class="w3-col m8 s12">
								<p>
									<button class="w3-button w3-padding-large w3-white w3-border">
										<b
											>For more information contact project partner Jim
											Cupples</b
										>
									</button>
								</p>
							</div>
						</div>
					</div>
					<hr />
					<!-- END about page ENTRIES -->
				</div>

				<!-- Introduction menu -->
				<div class="w3-col l4">
					<!-- About Card -->
					<div class="w3-card w3-margin w3-margin-top">
						<img
							src="https://www.pcc.edu/university-transfer/wp-content/uploads/sites/126/2019/05/OSU-logo-for-common-app-250x264.png"
							style="width: 100%"
						/>
						<div class="w3-container w3-white">
							<h4><b>Group 18</b></h4>
							<p>
								This project was part of the 2020-2021 Oregon State Univeristy
								senior capstone course. Origionally the project was focused on
								fighting against the fradulant activity within the wine
								industry, the project has taken a new direction and focused on
								winery and customer relations. By enhancing these relationships
								the local wine industy has the potential for tremendous growth.
							</p>
						</div>
					</div>
					<hr />

					<!-- Labels / names -->
					<div class="w3-card w3-margin">
						<div class="w3-container w3-padding">
							<h4>The Team</h4>
						</div>
						<div class="w3-container w3-white">
							<p>
								<span class="ww3-tag w3-light-grey w3-small w3-margin-bottom"
									>Alexander Smith</span
								>
								<span class="w3-tag w3-light-grey w3-small w3-margin-bottom"
									>Micheal Payne</span
								>
								<span class="w3-tag w3-light-grey w3-small w3-margin-bottom"
									>Sonia Camacho</span
								>
								<span class="w3-tag w3-light-grey w3-small w3-margin-bottom"
									>Yue Xu</span
								>
							</p>
						</div>
					</div>

					<!-- END Introduction Menu -->
				</div>

				<!-- END GRID -->
			</div>
			<br />

			<!-- END w3-content -->
		</div>
	</body>
</html>
