<% layout('layouts/boilerplate') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/style4.css">

<div class="row">
    <div class="col-6 offset-3">
        <form action="/winebatches" method="POST" novalidate class="validated-form">
            <h1>New Wine Batch</h1>
            <div class="card">
		<div class="card-header">
            <div class="mb-3">
                <label class="form-label" for="batch_name">Batch Name</label>
                <input class="form-control" type="text" id="batch_name" name="winebatch[batch_name]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="wine_name">Wine Name</label>
                <input class="form-control" type="text" id="wine_name" name="winebatch[wine_name]">
            </div>
            <div class="mb-3">
                <label class="form-label" fnumBottles">Number of Bottles</label>
                <div class="input-group">
                    <span class="input-group-text" id="num_bottles-label">#</span>
                    <input type="text" class="form-control" id="num_bottles" placeholder="0" aria-label="num_bottles"
                        aria-describedby="num_bottles-label" name="winebatch[num_bottles]">
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="style">Style</label>
                <input class="form-control" type="text" id="style" name="winebatch[style]">
            </div>
            <div class="mb-3">
                <label class="form-label" fAlcohol">Alcohol</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="alcohol" placeholder="0" aria-label="alcohol"
                        aria-describedby="alcohol-label" name="winebatch[alcohol]">
                    <span class="input-group-text" id="alcohol-label">%</span>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="ava">American Viticulture Area</label>
                <input class="form-control" type="text" id="ava" name="winebatch[ava]">
            </div>
            <div class="mb-3">
                <label class="form-label" fAcidity">Acidity</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="acidity" placeholder="0" aria-label="acidity"
                        aria-describedby="acidity-label" name="winebatch[acidity]">
                    <span class="input-group-text" id="acidity-label">PH</span>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="grape_variety">Grape Variety</label>
                <input class="form-control" type="text" id="grape_variety" name="winebatch[grape_variety]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="harvest_loc">Harvest Location</label>
                <input class="form-control" type="text" id="harvest_loc" name="winebatch[harvest_loc]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="harvest_date">Harvest Date</label>
                <input class="form-control" type="date" id="harvest_date" name="winebatch[harvest_date]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="bottle_date">Bottle Date</label>
                <input class="form-control" type="date" id="bottle_date" name="winebatch[bottle_date]">
            </div>
            <div class="mb-3">
                <label class="form-label" fAvgSunshine">Average Sunshine</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="avgSunshine" placeholder="0" aria-label="avgSunshine"
                        aria-describedby="avgSunshine-label" name="winebatch[avgSunshine]">
                    <span class="input-group-text" id="avgSunshine-label">hrs</span>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" fAvgTemp">Average Temperature</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="avgTemp" placeholder="0" aria-label="avgTemp"
                        aria-describedby="avgTemp-label" name="winebatch[avgTemp]">
                    <span class="input-group-text" id="avgTemp-label">°</span>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" fTannins">Tannins</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="tannins" placeholder="0" aria-label="tannins"
                        aria-describedby="tannins-label" name="winebatch[tannins]">
                    <span class="input-group-text" id="tannins-label">g/L</span>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="comments">Comments</label>
                <textarea class="form-control" type="text" id="comments" name="winebatch[comments]"></textarea>
            </div>
            <div class="mb-3">
                <button class="btn float-right btn_add">Add Wine Batch</button>
          
            </div>
        </form>

    </div>
</div>
    </div>

</div>
