<% layout('layouts/boilerplate') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/style13.css">
<div class="card-header">
<h1>Change Password</h1>
</div>
<div class="card-header"> 
<form action="/passchan" method="POST" class="validated-form" novalidate>
	<div class="mb-3">
		<label class="form-label" for="Opassword">Enter Old Password</label>
		<input
			class="form-control"
			type="password"
			id="Opassword"
			name="Opassword"
			required
		/>
	</div>

	<div class="mb-3">
		<label class="form-label" for="Npassword">Enter New Password</label>
		<input
			class="form-control"
			type="password"
			id="Npassword"
			name="Npassword"
			required
		/>
    </div>
    <div class="mb-3">
		<label class="form-label" for="NpasswordAg">Enter New Password Again</label>
		<input
			class="form-control"
			type="password"
			id="NpasswordAg"
			name="NpasswordAg"
			required
		/>
	</div>

	<button class="btn float-right btn_login">Submit</button>
	<a href="/viewaccount">Back to Account</a>
</div>
</form>